---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import Logo from "public/emozziona-logo.jpg";

// interface Props {
//   estilos?: string;
//   inicio?: boolean;
// }

interface NavigationItem {
  label: string;
  href: string;
}

// const { estilos, inicio }: Props = Astro.props;

const navigationItems: NavigationItem[] = [
  { label: "Inicio", href: "/" },
  { label: "Productos", href: "/products" },
  { label: "¿Quiénes somos?", href: "/historia" },
];

const currentPath = Astro.url.pathname;

const pathUrl = Astro.url.pathname;
console.log(pathUrl);
---

<div class:list={[{ "bg-[#B59A6D]": currentPath !== "/" }]}>
  <div class="flex items-center justify-between m-auto max-w-5xl py-5">
    <div class="flex items-center gap-x-5">
      <Image src={Logo} alt="Emozziona Logo" class="rounded-full w-28" />
      <nav class="flex items-center gap-x-5">
        {
          navigationItems.map((item) =>
            item.label === "Productos" ? (
              <div class="relative group" tabindex="0">
                <a href={item.href} class="navigation-item font-lora-semi-bold">
                  {item.label}
                </a>
                {/* Dropdown menu con animación y soporte para focus-within */}
                <div
                  class="absolute left-0 mt-2 w-56 bg-white rounded-lg shadow-lg z-20 text-primary font-lora-semi-bold
                opacity-0 scale-95 translate-y-2
                group-hover:opacity-100 group-hover:scale-100 group-hover:translate-y-0
                group-focus-within:opacity-100 group-focus-within:scale-100 group-focus-within:translate-y-0
                transition-all duration-300 ease-out"
                >
                  <ul class="py-2">
                    <li>
                      <a
                        href="/products?cat=casual"
                        class="block px-4 py-2 hover:bg-primary/50"
                        tabindex="0"
                      >
                        Regalos Corporativo
                      </a>
                    </li>
                    <li>
                      <a
                        href="/products?cat=corporativo"
                        class="block px-4 py-2 hover:bg-primary/50"
                        tabindex="0"
                      >
                        Merchandising
                      </a>
                    </li>
                    <li>
                      <a
                        href="/products?cat=sanvalentin"
                        class="block px-4 py-2 hover:bg-primary/50"
                        tabindex="0"
                      >
                        Regalos casuales
                      </a>
                    </li>
                  </ul>
                </div>
                {currentPath === item.href ? (
                  <div
                    transition:name="menu-line"
                    class="border-b-2 border-blue-500 mx-4"
                  />
                ) : (
                  <div class="border-b-2 border-transparent" />
                )}
              </div>
            ) : (
              <div>
                <a href={item.href} class="navigation-item font-lora-semi-bold">
                  {item.label}
                </a>
                {currentPath === item.href ? (
                  <div
                    transition:name="menu-line"
                    class="border-b-2 border-blue-500 mx-4"
                  />
                ) : (
                  <div class="border-b-2 border-transparent" />
                )}
              </div>
            )
          )
        }
      </nav>
    </div>

    <div class="flex flex-row items-center gap-x-3">
      <Icon
        name="instagra"
        size="39"
        class="cursor-pointer hover:text-primary transition-colors"
      />
      <Icon
        name="whatsapp"
        size="39"
        class="cursor-pointer hover:text-primary transition-colors"
      />
      <Icon
        name="tiktok"
        size="39"
        class="cursor-pointer hover:text-primary transition-colors"
      />
    </div>
  </div>
</div>
